@import url('https://fonts.googleapis.com/css?family=Poppins:500,800&display=swap');
html {
  height: 100%;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: hsl(255, 11%, 22%);
  margin: 0;
  background: #FFF;
  height: 100%;
  background-attachment: fixed;
  background: linear-gradient( #FFFFFF 20%, #F0F1FF 80%);
}
.menu{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.menu div{
  margin-left: auto;
  padding: 20px;
}
.menu div a{
  font-size: 22px;
}
.title{
  margin: 0;
  margin-left: 10px;
}
.cnt{
  color: hsl(260, 8%, 14%);
  height: 100%;
}
.info-up{
  margin: 10px;
  text-align: center;
}
a,
a:visited{
  text-decoration: none;
  color: hsl(255, 11%, 22%);
}
.box{
  width: 90%;
  background-color: hsl(257, 27%, 26%);
  height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-image: url("img/bg-shorten-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 40px;
}
@media only screen and (min-width:850px){
  .box{
    flex-direction: row;
    margin-top: 50px;
  }
  input[type=url]{
    width: 60% !important;
  }
  .short{
    width: 20% !important;
  }
}
@media only screen and (min-width:1200px){
  .box{
    width: 70%;
  }
}
.btn{
  display: inline-block;
  color: #fff;
  background-color: hsl(180, 66%, 49%);
  text-decoration: none;
  cursor: pointer;
  width: 85%;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  margin: 8px;
}
input[type=url]{
  width: 85%;
  outline: none;
  border: none;
  height: 30px;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}
.error{
  border: 2px solid hsl(0, 87%, 67%) !important;
  padding: 6px !important;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: hsl(260, 8%, 14%);
  color: hsl(0, 0%, 90%);
  text-align: center;
}
.footer a,
.footer a:visited{
  font-size: 15px;
  text-decoration: none;
  color: hsl(0, 0%, 90%);
  position: relative;
  top: 6px;
}
@keyframes show{
  0%{
    display: block;
    opacity: 0;
    transform: scale(0.5);
  }
  50%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.result{
  padding-bottom: 100px;
  background-color: #F0F1FF;
}
@media only screen and (min-height:700px){
  .result{
    background: none;
  }
}
.resultbox{
  width: 90%;
  background-color: #fff;
  height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.defaulturl{
  border-bottom: 1px solid #f0f1f6;
  width: 100%;
  text-align: left;
}
@media only screen and (max-width:1000px){
  .defaulturl{
    overflow: hidden;
  }
}
.defaulturl div{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shortedurl{
  width: 100%;
  text-align: left;
  color: hsl(180, 66%, 49%);
}
.defaulturl div,
.shortedurl div{
  margin: 10px;
  margin-left: 15px;
}
@media only screen and (min-width:850px){
  .resultbox{
    flex-direction: row;
    justify-content: flex-end;
    height: 80px;
    padding: 0;
  }
  .defaulturl{
    border: none;
    margin-left: auto;
  }
  .shortedurl{
    text-align: right;
  }
  .copy{
    width: 30% !important;
  }
}
@media only screen and (min-width:1200px){
  .resultbox{
    width: 70%;
  }
}
.preloader{
  transition: 0.3s;
  animation: showpreloader 0.5s ease-in-out;
}
@keyframes showpreloader{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.sk-cube-grid {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: hsl(180, 66%, 49%);;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; 
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  } 
}
.center{
  text-align: center;
}
.login-box{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.logout{
  background-image: url("img/sign-out-alt.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  margin: 10px;
}
.code{
  line-height: 1.15;
  color: #c7ccd1;
  border: 3px solid #8991e3;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  box-shadow: 0 9px 30px 0 rgba(24,25,28,.1);
  background: #202225;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 8px;
  z-index: 3;
  width: 320px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 14px;
}
@media only screen and (min-width:600px){
  .code{
      font-size: 20px;
      width: 600px;
      word-break: break-all;
  }
}
.green{
  color: #4caf50;
}
.json-prev{
  white-space: pre-line;
  text-align: left;
}